header{
    display: flex;
    justify-content: space-around;
}
.logo{
    width: 50%;
}
ul{
    
    display: flex;
    align-items: center;
    height: 100px;
    text-decoration: none;
    list-style: none;
    
    
}
.boxlupaicon{
    
    height: 100px;
    align-items: center;
    display: flex;
}
input{
    margin-right: 50px;
}
li{
    margin-left: 40px;
    text-decoration: none;
}
Link{
    text-decoration: none;
}


